SLACK_CLIENT_ID=""
SLACK_API_SECRET=""
SLACK_AUTHORIZATION_ENDPOINT="https://slack.com/oauth/v2/authorize"
SLACK_TOKEN_ENDPOINT="https://slack.com/api/oauth.v2.access"
SLACK_VERIFICATION_TOKEN=""
SLCK_SIGNING_SECRET=""
SLACK_CHANEL="C01698A0S2H"
AWS_REGION="us-west-2"
BOT_ENDPOINT=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

